<link href="../public/css/styles.css" rel="stylesheet" type="text/css"">
<h class="header">Click on any book to see the details</h>
<% for(var i=0;i<books.length;i++){ %>
    <div>
    <p> <a href="books/<%-[i+1]%>"><%= books[i].book %></a> </p>  
    </div>
    </a>
<% } %>